@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
}
.logo{
  width: 145px;
  margin-left: 10px;
}
.title{
  font-weight: bold;
  font-size: 35px;
}
.main-container{
  display: flex;
  height: 90.8vh;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signup-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid greenyellow; */
  width: 50%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 5px rgb(203, 200, 200);
}
.signup-content{
  /* border: 2px solid red; */
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.input-field{
  border: none;
  outline: none;
  width: 250px;
  margin-left: 10px;
  font-size: 18px;

}
.register-form{
  /* border: 2px solid orange; */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}
.input-form{
  border-bottom: 1px solid black;
}
.button{
  margin-top: 15px;
}
.submit-btn{
  font-size: 18px;
  width: 100px;
  padding: 5px 8px 5px 8px;
  background-color: #0d6efd;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: none;
}
.signup-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-pic{
  width: 300px;
  
}
.already{
  text-decoration: none;
  color: #0d6efd;
  font-size: 18px;
}
.login-content{
  /* border: 2px solid red; */
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.login-form{
  /* border: 2px solid orange; */
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}
.login-btn{
  font-size: 18px;
  width: 100px;
  padding: 5px 2px 5px 2px;
  background-color: #0d6efd;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: none;
}
.contact-box{
  display: flex;
  /* border: 2px solid red; */
  width: 75%;
  justify-content: space-evenly;

}
.info-box{
  border: 2px solid rgb(241, 235, 235);
  box-shadow: 2px 2px 2px 2px rgb(219, 216, 216);
  
  display: flex;
  flex-direction: row;
  width: 325px;
  height: 75px;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.phone-info{
  display: flex;
  flex-direction: column;
  font-weight:500;
  font-size: 18px;
}
.phone-img{
  width: 25px;
  height: 40px;
}
.phone-style{
  font-weight:bold;
  font-size: 20px;
}
.num-style{
  font-size: 14px;
}
.email-img{
  width: 35px;
  height: 40px;
}
.address-img{
  width: 36px;
  height: 40px;
}